/.idea
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/check.php
/app/phpunit.xml
/app/SymfonyRequirements.php
/bin/
/build/
/composer.phar
/vendor/
/web/.htaccess.mine
/web/app_dev.php
/web/temp/
/selenium/test-output
/selenium/screenshots
/selenium/bin
/selenium/.classpath
